/* dW Top level pages local site unique coding */


p.ibm-ind-link a,
ul.ibm-link-list a {
display:block;
margin:0px;
padding:5px 5px 5px 21px;
}
.ibm-container-body.ibm-two-column p.ibm-ind-link {clear:both;}

div.ibm-hideable.dw-show-hide-spacer p {font-size:1.0em !important;}

/* Submit content template: unordered list font fix for China only*/
#ibm-content-main ul.dw-submit-list{
font-size: 0.76em;
}

.ibm-input-group fieldset, 
.ibm-input-group p fieldset {
	border: 0 none;
	font-family: arial,sans-serif;
    font-size: 0.76em;
	margin: 0;
	padding: 0;
}

/* noscript button font changes */
.dw-noscript-buttons-br,
.dw-noscript-buttons-kr,
.dw-noscript-buttons-ru
{
font-size: 0.76em !important;   
}

/* classes supporting the right hand module include for sharing (found on expert hi-def pages) */
.dw-expert-share ul {
    list-style:none;
    display: inline !important;
}
.dw-expert-share ul li {
    display:inline !important;
    font-size:12px;
    font-style:italic;
    font-family: Arial,sans-serif;
    padding-left: 2px !important;
    padding-right: 0; 
    border: 0 none;
    vertical-align: baseline;
    float:left;
}
.dw-expert-share ul li.dw-expert-share-text {
    padding-top: 6px;
    padding-right: 4px !important;
}
.dw-expert-share ul li a {
    display:block;
    text-indent: -9999px;
    height: 27px;
    width: 26px;   
    background: url("//www-03.ibm.com/systems/data/flash/expert-integrated-systems/i/_share_icons.png") no-repeat scroll 0 0 transparent; 
}
.dw-expert-share ul li a.dw-expert-facebook-share-link {
    background-position: 0 0;
}
.dw-expert-share a.dw-expert-facebook-share-link:active {
    background-position: -52px 0;
}
.dw-expert-share a.dw-expert-facebook-share-link:hover {
    background-position: -26px 0;
    }
.dw-expert-share ul li a.dw-expert-twitter-share-link {
    background-position: 0 -54px;
}
.dw-expert-share a.dw-expert-twitter-share-link:active {
    background-position: -52px -54px;
}
.dw-expert-share a.dw-expert-twitter-share-link:hover {
    background-position: -26px -54px;
}
.dw-expert-share ul li a.dw-expert-linkedin-share-link {
    background-position: 0 -27px;
}
.dw-expert-share a.dw-expert-linkedin-share-link:active {
    background-position: -52px -27px;
}
.dw-expert-share a.dw-expert-linkedin-share-link:hover {
    background-position: -26px -27px;
}
.dwjp-hateb-link {
    background: url("//dw1.s81c.com/developerworks/jp/i/icon_hateb.gif") 
    no-repeat scroll 2px 4px transparent;
}
/* add support for new chinese social tagging options */
.dwcn-tencent-link {
    background: url("//dw1.s81c.com/developerworks/i/tencent.png") 
    no-repeat scroll 2px 4px transparent;
}
.dwcn-sohu-link {
    background: url("//dw1.s81c.com/developerworks/i/sohu.png") 
    no-repeat scroll 2px 4px transparent;
}
.dwcn-renren-link {
    background: url("//dw1.s81c.com/developerworks/i/renren.png") 
    no-repeat scroll 2px 4px transparent;
}
.dwcn-sina-link {
    background: url("//dw1.s81c.com/developerworks/i/sina.png") 
    no-repeat scroll 2px 4px transparent;
}
.dwcn-netease-link {
    background: url("//dw1.s81c.com/developerworks/i/netease.png") 
    no-repeat scroll 2px 4px transparent;
}
.dw-footer-col-1-1-cn {
    width: 200px !important;
}
